hr
p #{__('Change language')}: 
  if locale == 'en'
    a(href='?lang=sk') Slovenčina
  else if locale == 'sk'
    a(href='?lang=en') English

p. 
  #{__('Enviroment')}: #{CURRENT_ENV}
  <br/>
  #{__('Version')}: #{APP_VER}

if CURRENT_ENV !== 'PRODUCTION'
  script(src='/build/js/build-dev.js?ver=#{APP_VER}')
else 
  script(src='/build/js/build.js?ver=#{APP_VER}')
